<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body>
  <h1>About the Project</h1>
  <h2>Thank You to Masterschool and my Tutors </h2>

  <a href="/receipts/home"> General Info for the Project</a><br>
  <a href="/receipts/show"> Shows the content of a Calendar-Week CSV-File</a><br>
  <a href="/receipts/upload"> Upload a new Photo of a Receipt</a><br>
  <a href="/receipts/analyse"> Analyse Photos of Receipts of a Calendar-Week</a><br>
  <a href="/receipts/about"> Version Info of the Project and General Thanks</a><br>
  <br>

</body>
</html>