<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Upload a new Cash Receipt</title>
</head>
<body>
  <h1>Upload a new Cash Receipt File</h1>
  <form method="post">
    Titel: <input type="text" name="title"><br><br>
    Autor: <input type="text" name="author"><br><br>
    <input type="submit" value="Store"><br><br>
  </form>

  <a href="/receipts/home"> General Info for the Project</a><br>
  <a href="/receipts/show"> Shows the content of a Calendar-Week CSV-File</a><br>
  <a href="/receipts/upload"> Upload a new Photo of a Receipt</a><br>
  <a href="/receipts/analyse"> Analyse Photos of Receipts of a Calendar-Week</a><br>
  <a href="/receipts/about"> Version Info of the Project and General Thanks</a><br>
  <br>
</body>
</html>